@forward "./base/index";
@use "./util/index" as variable;


header{
    background-color : variable.$header_bg_color;
    padding:10px;
}
main{
    background-color : variable.$main_bg_color;
    padding:30px;
}

