*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main{
    margin-top:100px;
}
@mixin button_style($bg,$color){
    text-decoration:none;
    padding:10px 20px;
    color: $color;
    margin:10px;
    background-color: $bg;
}
.green_btn{
    @include button_style(green,white);
}
.red_btn{
    @include button_style(red,black);
}
.dark_btn{
    @include button_style(black,teal);
}